<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>517561473220-5qojr7cfqglouud615phqask6qlipcj4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.517561473220-5qojr7cfqglouud615phqask6qlipcj4</string>
	<key>API_KEY</key>
	<string>AIzaSyAbzRgZWFHfijGeLJ-r50vfN28MO1dbKpg</string>
	<key>GCM_SENDER_ID</key>
	<string>517561473220</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.feedbook</string>
	<key>PROJECT_ID</key>
	<string>feed-book-9c64b</string>
	<key>STORAGE_BUCKET</key>
	<string>feed-book-9c64b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:517561473220:ios:95ef197f590d6a55cf9191</string>
	<key>DATABASE_URL</key>
	<string>https://feed-book-9c64b.firebaseio.com</string>
</dict>
</plist>